# Dictionary

In [6]:
names = ['Ramesh', 'Suresh', 'sathis']
age=[20,25,30]

for i in range(len(names)):
    print(f"{names[i]} age is {age[i]}")

Ramesh age is 20
Suresh age is 25
sathis age is 30

**zip**

In [11]:
names = ['Ramesh', 'Suresh', 'sathis']
age=[20,25,30]

for i,j in zip(names,age):
    print(f"{i} age is {j}")

Ramesh age is 20
Suresh age is 25
sathis age is 30

In [13]:
names = ['Ramesh', 'Suresh', 'sathis']
age=[20,25,30]
zip(names,age)

In [17]:
names = ['Ramesh', 'Suresh', 'sathis']
age=[20,25,30]
for i in zip(names,age):
    print(i)

('Ramesh', 20)
('Suresh', 25)
('sathis', 30)

In [19]:
l2=[f"{i} age is {j}" for i,j in zip(names,age)]
print(l2)

['Ramesh age is 20', 'Suresh age is 25', 'sathis age is 30']

- in the above examples name and age are together
- if both are together , he we can pair them
- this can happen using dictionary
- dictionary is a key value pair
- it represents with curly braces **{key:value}**
- **{'Ramesh':20}**

In [24]:
d1 = {'Ramesh':20, 'Suresh':25, 'sathis':30}
print(d1)

{'Ramesh': 20, 'Suresh': 25, 'sathis': 30}

In [26]:
type(d1)

dict

In [44]:
d1={l1:[1,2,3], l2:['arun','kiran']}
d1

TypeError: unhashable type: 'list'

In [32]:
# Takes latest value
d1 = {'Ramesh':20, 'Ramesh':30}
print(d1)

{'Ramesh': 30}

In [34]:
d1 = {'Ramesh':20, 'Ramesh':20}
print(d1)

{'Ramesh': 20}

In [42]:
d1={l1:[1,2,3], l1:[1,2,3]}
for i in d1:
    print(i)

<zip object at 0x00000197439DB900>

- keys can't be duplicate but values can

In [10]:
d1={'l1':[1,2,3], 'l2':['a','b']}
d1

{'l1': [1, 2, 3], 'l2': ['a', 'b']}

In [38]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'apple',30:'banana',50:'cherry'}
print('**********')
print(min(dict2))
print(min(dict3))
print('**********')
print(max(dict1))
print(max(dict2))
print(max(dict3))
print('**********')
#print(sum(dict1.values))
#print(sum(dict2))
#print(sum(dict3))
print('**********')
print(sorted(dict1))
print(sorted(dict2))
print(sorted(dict3))
print('**********')

[print(i) for i in reversed(dict1)]
[print(i) for i in reversed(dict2)]
[print(i) for i in reversed(dict3)]

**********
Apple
20
**********
Cherry
apple
50
**********
**********
['Apple', 'Banana', 'Cherry']
['Apple', 'apple']
[20, 30, 50]
**********
Cherry
Banana
Apple
apple
Apple
50
30
20

[None, None, None]

In [26]:
sorted(dict1)

['Apple', 'Banana', 'Cherry']

In [42]:
'Apple' in dict1

True

In [44]:
for i in dict1:
    print(i)

Apple
Banana
Cherry

# index

In [57]:
for i in range(len(dict1)):
    print(dict1[i])

KeyError: 0

**how to extract the values**

- in dictionary we have a concept called key-value pair
- key are very importent in order to get the values , we have to take help from keys

In [66]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
for i in dict1:
    print(f"{i} - {dict1[i]}")

Apple - 20
Banana - 30
Cherry - 50

In [74]:
names = {'Ramesh':20, 'Suresh':25, 'sathis':30}
for i in names:
    print(f"{i} age is {names[i]}")

Ramesh age is 20
Suresh age is 25
sathis age is 30

In [80]:
d1={'fruits':['Apple','Banana','Cherry']}
d1['fruits'][2]

'Cherry'

In [100]:
d1={'Fruits':{'Apple':['sweet','sour','green']}}
d1['Fruits']['Apple'][2]

'green'

In [116]:
d={'Fruites':[{'Cost':[50]}]}
d['Fruites'][0]['Cost'][0]

50

In [136]:
d={'Fruites':['Apple'],'Cost':[{'1kg':[20,30,40],
                               '2kg':None}]}

d['Cost'][0]['2kg']

In [138]:
d={'Fruites':['Apple'],'Cost':[{'1kg':[20,30,40],
                               '2kg':None}]}

d['Cost'][0]['1kg'][2]

40

In [150]:
d={'Fruites':{'Orange':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d['Fruites']['Orange']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

**How to create an empty dictionary**

- focus on creating empty list, string and tuple, dictionary
- use it for append operation
- will use it for concatination
- We will take empty dictioanry , to use key value pair concept

In [158]:
l1=[]
l1.append(10)
l1.append(20)
l1

[10, 20]

In [160]:
str1=''
str1=str1+'p'
str1=str1+'y'
str1

'py'

In [166]:
dict1={}
dict1['Ramesh']=20
dict1['Suresh']=30
dict1

{'Ramesh': 20, 'Suresh': 30}

In [168]:
dict2={}
names = ['Ramesh', 'Suresh', 'sathis']
age=[20,25,30]
for i,j in zip(names,age):
    dict2[i]=j
print(dict2)

{'Ramesh': 20, 'Suresh': 25, 'sathis': 30}

**dictionary comprehension**

In [ ]:
- for list comprehension everything in list
- fpr dict comprehension we should write inside dict

In [181]:
names = ['Ramesh', 'Suresh', 'sathis']
age=[20,25,30]
dict2={i:j for i,j in zip(names,age)}
print(dict2)

{'Ramesh': 20, 'Suresh': 25, 'sathis': 30}

In [183]:
dict2['Ramesh']=40

In [185]:
dict2

{'Ramesh': 40, 'Suresh': 25, 'sathis': 30}

**mutable/immutable**

- list mutable
- strings immutable
- tuple immutabl
- dictionary mutable

In [1]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [7]:
dict1={'Ramesh': 20, 'Suresh': 25, 'sathis': 30}
keys=dict1.keys()
keys

dict_keys(['Ramesh', 'Suresh', 'sathis'])

In [9]:
type(keys)

dict_keys

- keys here is not a list, its a dict_keys
- observe below difference

In [12]:
keys.count('Ramesh')

AttributeError: 'dict_keys' object has no attribute 'count'

In [14]:
names = ['Ramesh', 'Suresh', 'sathis']
names.count('Ramesh')

1

- inorder to conver dictionary to list
- First we need to seperate keys and values then apply list type casting

In [20]:
dict1={'Ramesh': 20, 'Suresh': 25, 'sathis': 30}
keys=dict1.keys()
keys_list = list(keys)
keys_list

['Ramesh', 'Suresh', 'sathis']

In [22]:
type(keys_list)

list

In [34]:
type(keys_list),type(keys)

(list, dict_keys)

In [36]:
keys_list.count('Ramesh')

1

## important
- list to string using join
- string to list using split
- list to dict using zip
- dict to list using typecasting

In [28]:
dict1={'Ramesh': 20, 'Suresh': 25, 'sathis': 30}
dict1.values()
values_list=list(dict1.values())
values_list

[20, 25, 30]

In [30]:
dict1={'Ramesh': 20, 'Suresh': 25, 'sathis': 30}
dict1.items()

dict_items([('Ramesh', 20), ('Suresh', 25), ('sathis', 30)])

In [32]:
dict1={'Ramesh': 20, 'Suresh': 25, 'sathis': 30}
print(list(dict1.items()))

[('Ramesh', 20), ('Suresh', 25), ('sathis', 30)]

In [50]:
# Q8) input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
#     fname=['virat','rohit'.'ms']
#     sname=['kohli','sharma','dhoni']
#     cname=['rcb','mi','csk']

input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
lfname=[]
lsname=[]
lcname=[]
l1=input.split(';')
for i in l1:
    lfname.append(i.split(sep='.')[0])
    lsname.append(i.split(sep='.')[1].split(sep='@')[0])
    lcname.append(i.split(sep='.')[1].split(sep='@')[1])
dict1={}
dict1['Firstname'] = lfname
dict1['Lastname'] = lsname
dict1['cnam'] = lcname
dict1

{'Firstname': ['virat', 'rohit', 'ms'],
 'Lastname': ['kohli', 'sharma', 'dhoni'],
 'cnam': ['rcb', 'mi', 'csk']}

In [62]:
dict1={'Ramesh': 20, 'Suresh': 25, 'sathis': 30}
print(dict1.popitem()) #Remove and return a (key, value) pair as a 2-tuple
dict1

('sathis', 30)

{'Ramesh': 20, 'Suresh': 25}

In [68]:
dict1={'Ramesh': 20, 'Suresh': 25, 'sathis': 30}
print(dict1.pop('sathis')) #remove specified key and return the corresponding value.
dict1

30

{'Ramesh': 20, 'Suresh': 25}

In [72]:
dict1={'Ramesh': 20, 'Suresh': 25, 'sathis': 30}
print(dict1.get('Ramesh'))
dict1

20

{'Ramesh': 20, 'Suresh': 25, 'sathis': 30}

In [78]:
dict1={'Ramesh': 20, 'Suresh': 25, 'sathis': 30}
dict2={'Ram': 40, 'Sur': 50, 'sat': 60}
dict1.update(dict2)
print(dict1)
print(dict2)

{'Ramesh': 20, 'Suresh': 25, 'sathis': 30, 'Ram': 40, 'Sur': 50, 'sat': 60}
{'Ram': 40, 'Sur': 50, 'sat': 60}

In [80]:
names1= ['Ramesh', 'Suresh', 'sathis']
names2= ['Ram', 'Sur', 'sat']
names1.extend(names2)
print(names1)

['Ramesh', 'Suresh', 'sathis', 'Ram', 'Sur', 'sat']

In [86]:
dict1={'Ramesh': 20, 'Suresh': 25, 'sathis': 30}
dict1.setdefault('Sur') # Insert key with a value of default if key is not in the dictionary.
dict1

{'Ramesh': 20, 'Suresh': 25, 'sathis': 30, 'Sur': None}

In [94]:
dict1={'Ramesh': 20, 'Suresh': 25, 'sathis': 30}
dict1.setdefault('kir', 20) # Insert key with a value of default if key is not in the dictionary.
dict1

{'Ramesh': 20, 'Suresh': 25, 'sathis': 30, 'kir': 20}

In [102]:
dict1={}
str1='python'
dict1.fromkeys(str1)
dict1

{}

In [108]:
dict1={}
l1=['Ramesh', 'Suresh', 'sathis', 'Ram', 'Sur', 'sat']
dict1.fromkeys(l1,20)
dict1

{}