**list**

- strings element in quotes, list elements in []

In [3]:
list1=[1,2,3,45]
print(list1)

[1, 2, 3, 45]

In [7]:
type(list1)

list

In [11]:
list2=['a','b','c']
print(list2)

['a', 'b', 'c']

In [13]:
list3=list1+list2
print(list3)

[1, 2, 3, 45, 'a', 'b', 'c']

In [17]:
list4=[list1,list2,list3]
print(list4)

[[1, 2, 3, 45], ['a', 'b', 'c'], [1, 2, 3, 45, 'a', 'b', 'c']]

In [19]:
str1='python'
str2='my name is arun'
list5=[list1,list2,list3,str1,str2]
print(list5)

[[1, 2, 3, 45], ['a', 'b', 'c'], [1, 2, 3, 45, 'a', 'b', 'c'], 'python', 'my name is arun']

In [21]:
list6=[10,10,10]
print(list6)

[10, 10, 10]

In [23]:
list7=[_]
print(list7)

['{"dataframes": [], "user": "naidu"}']

In [25]:
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [29]:
list1=[10,20,2,5,75]
list2=['Apple', 'apple', 'Cherry', 'banana']
list3=list1.append(list2)
print(list1)
print(list2)
print(list3)

[10, 20, 2, 5, 75, ['Apple', 'apple', 'Cherry', 'banana']]
['Apple', 'apple', 'Cherry', 'banana']
None

In [53]:
list1=[10,20,2,5,75]
print(list1)

[10, 20, 2, 5, 75]

In [55]:
list2=['Apple', 'apple', 'Cherry', 'banana']
print(list2)

['Apple', 'apple', 'Cherry', 'banana']

In [57]:
list1.append(85)
list1

[10, 20, 2, 5, 75, 85]

In [59]:
list4=list1.clear()
list4

In [61]:
list1

[]

In [63]:
list1=[10,20,2,5,75]
list1.extend(list2)

In [65]:
list1

[10, 20, 2, 5, 75, 'Apple', 'apple', 'Cherry', 'banana']

In [69]:
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [71]:
sum(list1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [73]:
list1=[10,20,2,5,75]
print(list1)

[10, 20, 2, 5, 75]

In [75]:
list2=['Apple', 'apple', 'Cherry', 'banana']
print(list2)

['Apple', 'apple', 'Cherry', 'banana']

**Concatination**

In [78]:
list1+list2

[10, 20, 2, 5, 75, 'Apple', 'apple', 'Cherry', 'banana']

In [80]:
list1-list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [82]:
list1/list2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [84]:
list1*2

[10, 20, 2, 5, 75, 10, 20, 2, 5, 75]

In [86]:
list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

**INDEX**

In [89]:
list1=[10,20,30,'A', 'B', 'C']

In [ ]:
#-6
#10,20,30,'A', 'B', 'C'
#0,1  ,2 , 3 , 4  ,  5

In [107]:
for i in range(len(list1)):
    print(f"Positive  index of {list1[i]} is {i} and negetive index is {i-len(list1)}" )

Positive  index of 10 is 0 and negetive index is -6
Positive  index of 20 is 1 and negetive index is -5
Positive  index of 30 is 2 and negetive index is -4
Positive  index of A is 3 and negetive index is -3
Positive  index of B is 4 and negetive index is -2
Positive  index of C is 5 and negetive index is -1

In [115]:
list1=[[10]]
list[0]

[10]

In [117]:
list1[0][0]

10

In [119]:
len(list1)

1

In [121]:
list1=[10,20,30,['A', 'B', 'C']]
list1[3][2]

'C'

In [123]:
list1=['A',['Apple','B',['Banana','C',['Cherry','D',['Dragon fruite']]]]]
list1[1][2][2][0]

'Cherry'

In [127]:
list1=['Apple',['Kashmir',['India',['Criket',['Bat']]]]]

list1[1][1][1][1]

['Bat']

In [1]:
list1=[10,20,2,5,75]
listtemp1=list1
listsort=[]
for i in list1:
    print(i)
    listsort=listsort+[max(listtemp1)]
    print(max(listtemp1))
    print(listsort)
    listtemp1.remove(max(listtemp1))
    print(listtemp1)
print(listsort)

10
75
[75]
[10, 20, 2, 5]
20
20
[75, 20]
[10, 2, 5]
5
10
[75, 20, 10]
[2, 5]
[75, 20, 10]

**in vs Range operator**

- index go for range
- elements then go with in

**mutable vs immutable**

In [4]:
list1=[10,20,2,5,75]
list1[0]=200
list1

[200, 20, 2, 5, 75]

- List are mutable

**slice**

In [21]:
l1=[10,20,30,40,50,'a','b','c','d', 'e', 'apple','banana']
l1[:] # all elements
l1[::] # all elements
l1[::-1] # reverse order all elements
l1[2:10:2] # start=2 stop=10-1 step =2 [30, 50, 'b', 'd']
l1[2:10:-2] # no o/p
l1[2:-10:-2] # no o/p
l1[-2:10:-2] # no o/p

[]

**methods**

In [26]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [36]:
l1=[10,20,30,40,50, 10,'a','b','c','d', 'e', 'apple','banana']
l2=l1.copy()
print(l2)
print(l1.count(10))
l2.clear()
print(l2)

[10, 20, 30, 40, 50, 10, 'a', 'b', 'c', 'd', 'e', 'apple', 'banana']
2
[]

**append**

In [39]:
l1=[10,20,30,40,50]
l1.append('apple')

In [41]:
l1

[10, 20, 30, 40, 50, 'apple']

In [46]:
l1=[10,20,30,40,50]
l1.append('banana', 'orange')
l1

TypeError: list.append() takes exactly one argument (2 given)

In [43]:
l1.append(['banana', 'orange'])
l1

[10, 20, 30, 40, 50, 'apple', ['banana', 'orange']]

- Always recall if you see any any multiple values then keep those values in a list

- append method is used to store the output

- for example , i want to append a numbers from 1 to 5

In [54]:
l1=[]
for i in range(1,6):
    l1.append(i)
print(l1)

[1, 2, 3, 4, 5]

In [56]:

l1=[]
for i in range(1,6):
    num=eval(input("Enter number:"))
    l1.append(num*num)
print("Squares of given numbers:",l1)

Enter number: 20
Enter number: 30
Enter number: 40
Enter number: 50
Enter number: 60

Squares of given numbers: [400, 900, 1600, 2500, 3600]

In [76]:
import random
l1=[]
for i in range(1,3):
    num=random.randint(1,100)
    l1.append(f"{num} = {num*num}")
print("Squares of given numbers:",l1) 
l1[0]

Squares of given numbers: ['77 = 5929', '16 = 256']

'77 = 5929'

In [62]:
l=[10,47,53,12,27]
le=[]
lo=[]
for i in range(len(l)):
    if l[i]%2 == 0:
        le.append(l[i])
    else:
        lo.append(l[i])

print(le,lo)

[10, 12] [47, 53, 27]

In [66]:
l=['hyd','ban','pun','mum']
lu=[]
for i in range(len(l)):
    lu.append(l[i].title())
print(lu)

['Hyd', 'Ban', 'Pun', 'Mum']

In [68]:
l=['hyd','ban','pun','mum']
lu=[]
for i in range(len(l)):
    lu.append(l[i].upper())
print(lu)

['HYD', 'BAN', 'PUN', 'MUM']

In [70]:
l=['hyd','ban#galore','pun','mum#bai']
ls=[]
for i in range(len(l)):
    if '#' in l[i]:
        ls.append(l[i])
print(ls)

['ban#galore', 'mum#bai']

In [80]:
l=['hyd','ban#galore','pun','mum#bai']
ls=[]
lhash=[]
for i in range(len(l)):
    if '#' in l[i]:
        lhash.append(l[i])
    else:
        ls.append(l[i])
print(ls)
set(l)

['hyd', 'pun']

{'ban#galore', 'hyd', 'mum#bai', 'pun'}

In [64]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [1]:
str1='asdRt@Cfrd'
str1.find('@')

5

In [3]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**extend**

In [10]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

In [12]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l2.extend(l1)
print(l2)

['A', 'B', 'C', 'D', 1, 2, 3, 4, 5]

In [14]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l2.append(l1)
print(l2)

['A', 'B', 'C', 'D', [1, 2, 3, 4, 5]]

In [16]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l2.append(l1)
print(l2)

['A', 'B', 'C', 'D', [1, 2, 3, 4, 5]]

**index**

In [23]:
l1=[1,2,3,4,5]
l1.index(3)

2

**insert**

In [25]:
l2=['A','B','C','D']
l2.insert(1,'Arun')
print(l2)

['A', 'Arun', 'B', 'C', 'D']

In [27]:
l2.insert('Arun')
print(l2)

TypeError: insert expected 2 arguments, got 1

In [29]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l2.insert(99,l1)
print(l2)

['A', 'Arun', 'B', 'C', 'D', [1, 2, 3, 4, 5]]

**pop**

In [32]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l2.pop()
print(l2)

['A', 'B', 'C']

In [38]:
l2=['A','B','C','D']
print(l2.pop(1))
print(l2)

B
['A', 'C', 'D']

**remove**

In [41]:
l2=['A','B','C','D']
l2.remove('B')
print(l2)

['A', 'C', 'D']

**reverse**

In [45]:
l2=['A','B','C','D']
l2.reverse()
print(l2)

['D', 'C', 'B', 'A']

**sort**

In [51]:
l1=[1,2003,4,400]
l2=['A','B','C','D']
l1.sort()
print(l1)

[1, 4, 400, 2003]

- If you want to remove any element
- pop: based on index
- remove: based on element
- del: inbuilt function removes based on index

In [55]:
l1=[1,2003,4,400]
del(l1)
print(l1)

NameError: name 'l1' is not defined

In [57]:
l1=[1,2003,4,400]
del(l1[1])
print(l1)

[1, 4, 400]

In [77]:
l2=['A','B','C','D']
l3=reversed(l2)
print(l3)

<list_reverseiterator object at 0x000002CD0A22D0F0>

**IN PLACE**M
- When we perform some operation , it will override

- inbuilt functions can use for any data type
- but methods aer wrt to datatypes