**loops concept**

- Loops are used to iterate the code multiple times
- Functions are used to reuse the code block
- That functuin code block can repeat calling multiple times
- When ever we do the same tast multiple time then think about loop.
- There are 2 typeL 1. for loop & 2. while loop
- Any loop need 3 things: Inetilization , Increment or Decrement & Condition to stop

**for loop**

In [4]:
# for <variable> in range(<number>):
#    <code>
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
# end operator to get output in horizantal 
for i in range(5):
    print(i, end=' ')

0 1 2 3 4

**Case-1: range(stop)**
- Start =0 python index alwas start with 0
- increament by 1
- Stop with stop-1

In [15]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [17]:
for i in range(3):
    print("Hello")

Hello
Hello
Hello

**case-2: range(start,stop)**
- start = start
- Increment by 1
- Last value = stop-1

In [21]:
for i in range(5,10):
    print(i,end=' ')

5 6 7 8 9

In [25]:
for i in range(5):
    print((i+1)*(i+1),end=' ')

1 4 9 16 25

In [29]:
for i in range(5):
    num=eval(input("Enter number:"))
    print(f"Square of the {num} = {num*num}")

Enter number: 2

Square of the 2 = 4

Enter number: 3

Square of the 3 = 9

Enter number: 5

Square of the 5 = 25

Enter number: 6

Square of the 6 = 36

Enter number: 7

Square of the 7 = 49

In [31]:
def square():
    num=eval(input("Enter number:"))
    print(f"Square of the {num} = {num*num}")

for i in range(2):
    square()

Enter number: 20

Square of the 20 = 400

Enter number: 30

Square of the 30 = 900

**case-3:range(start,stop,step)**
- start = start
- increament or decrement depens on positive or negetive sign with increment or decrement by step times
- for increment , STOP =stop-1
- for decrement , stop =stop+1

In [36]:
# Ex-1: increment with 2 number 
for i in range(3,20,2):
    print(i,end=' ' )

3 5 7 9 11 13 15 17 19

In [38]:
# Ex-2: decrement by 2 number last value= stop+1 = 19+1 so no code run willl happen
for i in range(3,19,-2):
    print(i,end=' ' )

In [40]:
# Ex-2: decrement by 2 number last value= stop+1 = -19+1 =-18 : this will run
for i in range(3,-19,-2):
    print(i,end=' ' )

3 1 -1 -3 -5 -7 -9 -11 -13 -15 -17

In [1]:
for i in range(20,-20,-10):
    print(i)

20
10
0
-10

In [7]:
num=eval(input("Enter which table you want:"))
for i in range(10):
    print(f"{num} X {i+1} =",num*(i+1))

Enter which table you want: 7

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [11]:
num=eval(input("Enter number:"))
for i in range(1,num+1):
    if (num%i == 0):
        print(f"{i} is divisor of {num}")

Enter number: 75

1 is divisor of 75
3 is divisor of 75
5 is divisor of 75
15 is divisor of 75
25 is divisor of 75
75 is divisor of 75

In [15]:
num=eval(input("Enter number:"))
summ=0
for i in range(num+1):
    summ=i+summ
print(f"Summ of natural numder for {num} = {summ}")

Enter number: 10

Summ of natural numder for 10 = 55

In [37]:
num=eval(input("Enter number:"))
summ1=0
for i in range(1,num+1):
    if (num%i == 0):
        summ1=summ1+i
        print(summ1)
print(f"{summ1} is sum of all divisor of {num}")

Enter number: 75

1
4
9
24
49
124
124 is sum of all divisor of 75

**COUNTER WRAPPER**

In [44]:
num=eval(input("Enter number:"))
count=0
for i in range(1,num+1):
    if (num%i == 0):
        count=count+1
print(f"Number of divisors for {num} = {count}")

Enter number: 75

Number of divisors for 75 = 6

In [62]:
import random
counte=0
counto=0
summo=0
summe=0
for i in range(5):
    num=random.randint(1,5)
    if (num%2 == 0):
        summe=summe+num
        counte=counte+1
        print("Even number:",num)
    else:
        summo=summo+num
        counto=counto+1
        print("Odd number:",num)
print(f"Even count-{counte}, even sum={summe}, odd count={counto},  odd sum={summo}")

Even number: 4
Odd number: 5
Even number: 2
Even number: 4
Even number: 4
Even count-4, even sum=14, odd count=1,  odd sum=5

In [68]:
for i in range(3):
    num1=eval(input("Enter number: 1 to 9"))
    num2=random.randint(1,10)
    if (num1 == num2):
        print(f"{num1}={num2} you won!!!")
        break
    else:
        print(f"{num1}={num2} you Loss!!!")

Enter number: 1 to 9 6

6=9 you Loss!!!

Enter number: 1 to 9 4

4=6 you Loss!!!

Enter number: 1 to 9 7

7=9 you Loss!!!

In [88]:
for i in range(3):
    num1=eval(input("Enter number: 1 to 9"))
    num2=random.randint(1,10)
    if (num1 == num2):
        print(f"{num1}={num2} you won!!!")
        break
    else:
        print(f"{num1}={num2} you Loss!!!")
        if i==2:
            print("Katham jindagi")
        else:
            print(f"You have {2-i} more chances")

Enter number: 1 to 9 4

4=1 you Loss!!!
You have 2 more chances

Enter number: 1 to 9 6

6=8 you Loss!!!
You have 1 more chances

Enter number: 1 to 9 9

9=1 you Loss!!!
Katham jindagi

**in operator**

- in for loop we have range and in operator. Rnage is a math operator and it expects number inside range
- but in operator in expects a string

In [5]:
for i in range('python'):
    print(i,end=' ')

TypeError: 'str' object cannot be interpreted as an integer

In [7]:
for i in 'python':
    print(i,end=' ')

p y t h o n

In [9]:
'p' in 'python'

True

In [13]:
'P' in 'python' #Capital p

False

**ASCI-American Standard Code for Information Interchange**

In [24]:
'A'> 'a'

False

- How to convert Char to Number
- How to convert number to Char

In [29]:
ord('A')

65

In [33]:
chr(65)

'A'

In [35]:
ord('a')

97

In [37]:
ord('A') == 65

True

In [41]:
chr(97) == 'a'

True

In [57]:
for i in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ':
    print(f"{i} = ", ord(i))

A =  65
B =  66
C =  67
D =  68
E =  69
F =  70
G =  71
H =  72
I =  73
J =  74
K =  75
L =  76
M =  77
N =  78
O =  79
P =  80
Q =  81
R =  82
S =  83
T =  84
U =  85
V =  86
W =  87
X =  88
Y =  89
Z =  90

**pakage name :strings**

In [60]:
import string

In [62]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [68]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [70]:
import string
for i in string.ascii_uppercase:
    print(f"{i} = ", ord(i))

A =  65
B =  66
C =  67
D =  68
E =  69
F =  70
G =  71
H =  72
I =  73
J =  74
K =  75
L =  76
M =  77
N =  78
O =  79
P =  80
Q =  81
R =  82
S =  83
T =  84
U =  85
V =  86
W =  87
X =  88
Y =  89
Z =  90

In [74]:
import string
for i in string.ascii_lowercase:
    print(f"{i} = {ord(i)}")

a = 97
b = 98
c = 99
d = 100
e = 101
f = 102
g = 103
h = 104
i = 105
j = 106
k = 107
l = 108
m = 109
n = 110
o = 111
p = 112
q = 113
r = 114
s = 115
t = 116
u = 117
v = 118
w = 119
x = 120
y = 121
z = 122

In [76]:
import string
for i in string.punctuation:
    print(f"{i} = {ord(i)}", end=' ')

! = 33 " = 34 # = 35 $ = 36 % = 37 & = 38 ' = 39 ( = 40 ) = 41 * = 42 + = 43 , = 44 - = 45 . = 46 / = 47 : = 58 ; = 59 < = 60 = = 61 > = 62 ? = 63 @ = 64 [ = 91 \ = 92 ] = 93 ^ = 94 _ = 95 ` = 96 { = 123 | = 124 } = 125 ~ = 126

In [78]:
for i in string.digits:
    print(f"{i} = {ord(i)}", end=' ')

0 = 48 1 = 49 2 = 50 3 = 51 4 = 52 5 = 53 6 = 54 7 = 55 8 = 56 9 = 57

In [80]:
import string
for i in range (33,126):
    print(f"{i} = {chr(i)}", end=' ')

33 = ! 34 = " 35 = # 36 = $ 37 = % 38 = & 39 = ' 40 = ( 41 = ) 42 = * 43 = + 44 = , 45 = - 46 = . 47 = / 48 = 0 49 = 1 50 = 2 51 = 3 52 = 4 53 = 5 54 = 6 55 = 7 56 = 8 57 = 9 58 = : 59 = ; 60 = < 61 = = 62 = > 63 = ? 64 = @ 65 = A 66 = B 67 = C 68 = D 69 = E 70 = F 71 = G 72 = H 73 = I 74 = J 75 = K 76 = L 77 = M 78 = N 79 = O 80 = P 81 = Q 82 = R 83 = S 84 = T 85 = U 86 = V 87 = W 88 = X 89 = Y 90 = Z 91 = [ 92 = \ 93 = ] 94 = ^ 95 = _ 96 = ` 97 = a 98 = b 99 = c 100 = d 101 = e 102 = f 103 = g 104 = h 105 = i 106 = j 107 = k 108 = l 109 = m 110 = n 111 = o 112 = p 113 = q 114 = r 115 = s 116 = t 117 = u 118 = v 119 = w 120 = x 121 = y 122 = z 123 = { 124 = | 125 = }

In [82]:
for i in range (0,33):
    print(f"{i} = {chr(i)}", end=' ')

0 =   1 =  2 =  3 =  4 =  5 =  6 =  7 =  8 = 9 = 	 10 =
 14 =  15 =  16 =  17 =  18 =  19 =  20 =  21 =  22 =  23 =  24 =  25 =  26 =  27 =  28 =  29 =  30 =  31 =  32 =

In [84]:
for i in range (127,200):
    print(f"{i} = {chr(i)}", end=' ')

127 =  128 =  129 =  130 =  131 =  132 =  133 =  134 =  135 =  136 =  137 =  138 =  139 =  140 =  141 =  142 =  143 =  144 =  145 =  146 =  147 =  148 =  149 =  150 =  151 =  152 =  153 =  154 =  155 =  156 =  157 =  158 =  159 =  160 =   161 = ¡ 162 = ¢ 163 = £ 164 = ¤ 165 = ¥ 166 = ¦ 167 = § 168 = ¨ 169 = © 170 = ª 171 = « 172 = ¬ 173 = ­ 174 = ® 175 = ¯ 176 = ° 177 = ± 178 = ² 179 = ³ 180 = ´ 181 = µ 182 = ¶ 183 = · 184 = ¸ 185 = ¹ 186 = º 187 = » 188 = ¼ 189 = ½ 190 = ¾ 191 = ¿ 192 = À 193 = Á 194 = Â 195 = Ã 196 = Ä 197 = Å 198 = Æ 199 = Ç

In [96]:
for i in range (3077,3130 ):
    print(f"{i} = {chr(i)}", end=' ')

3077 = అ 3078 = ఆ 3079 = ఇ 3080 = ఈ 3081 = ఉ 3082 = ఊ 3083 = ఋ 3084 = ఌ 3085 = ఍ 3086 = ఎ 3087 = ఏ 3088 = ఐ 3089 = ఑ 3090 = ఒ 3091 = ఓ 3092 = ఔ 3093 = క 3094 = ఖ 3095 = గ 3096 = ఘ 3097 = ఙ 3098 = చ 3099 = ఛ 3100 = జ 3101 = ఝ 3102 = ఞ 3103 = ట 3104 = ఠ 3105 = డ 3106 = ఢ 3107 = ణ 3108 = త 3109 = థ 3110 = ద 3111 = ధ 3112 = న 3113 = ఩ 3114 = ప 3115 = ఫ 3116 = బ 3117 = భ 3118 = మ 3119 = య 3120 = ర 3121 = ఱ 3122 = ల 3123 = ళ 3124 = ఴ 3125 = వ 3126 = శ 3127 = ష 3128 = స 3129 = హ