## Basic python
- Variables

- functions
- 

## Intermidiate python
- strings
- lists
- List comrehension
- tuples
- sets
- Dictonary
- Lamda function
- file handling

- opps concepts

- Basic representations
- Some inbuilt functions to be used, 
    - print
    - type
    - len
    - sum
    - max
    - min
    - sorted
    - reversed
- concatination
- index
- mutable/immutable concepts
- slicing
- methods

**strings**

- python will give output in single quotes
- when we print output we will get without qouts

In [8]:
str1="I love 'Python'"
print(str1)

I love 'Python'

**Doc string**
- triple qoute means a doc string
- it means user is conveying some information

"""I love python"""

In [11]:
name="Python"
type(name)

str

In [14]:
len(name)

6

In [16]:
max(name)

'y'

In [18]:
min(name)

'P'

In [20]:
sorted(name)

['P', 'h', 'n', 'o', 't', 'y']

In [30]:
reversed(name)

In [34]:
str1=input("Enter string you want to play with:")
print("Type of the str1 variable:", type(str1))
print("Length of the string that you entered:", len(str1))
print("Max ASCI value of letters in your string that you entered:", max(str1))
print("Min ASCI value of letters in your of string that you entered:", min(str1))
print("Sorted order of string that you entered:", sorted(str1))
print("Reversed of string that you entered:", reversed(str1))

Enter string you want to play with: arun

Type of the str1 variable: <class 'str'>
Length of the string that you entered: 4
Max ASCI value of letters in your string that you entered: u
Min ASCI value of letters in your of string that you entered: a
Sorted order of string that you entered: ['a', 'n', 'r', 'u']
Reversed of string that you entered: <reversed object at 0x00000257775B82E0>

In [36]:
def add(a,/,b):
    print(a+b)
add(a=20,b=30)

TypeError: add() got some positional-only arguments passed as keyword arguments: 'a'

In [38]:
def add(a,/,b):
    print(a+b)
add(20,b=30)

50

In [40]:
def add(a,/,b):
    print(a+b)
add(a=20,30)

SyntaxError: positional argument follows keyword argument (328008280.py, line 3)

In [42]:
def add(a,/,b):
    print(a+b)
add(20,30)

50

In [52]:
def add(a,/,b):
    print(a+b)
add(0,b=30)

30

- / means no arg to be passed before slash
- / means no arg can pass after slash
- '*' means no need to fallow order of args

- "*" indicates provide the argment name after start

In [57]:
def add(a,/,*,b,c):
    print(a+b+c)
add(20,b=30,c=40)

90

In [59]:
def add(a,/,*,b,c):
    print(a+b+c)
add(20,30,c=40)

TypeError: add() takes 1 positional argument but 2 positional arguments (and 1 keyword-only argument) were given

In [61]:
def add(a,/,*,b,c):
    print(a+b+c)
add(20,30,40)

TypeError: add() takes 1 positional argument but 3 were given

In [63]:
sorted('python', reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [65]:
sorted("python")

['h', 'n', 'o', 'p', 't', 'y']

In [71]:
sorted(iterable="python",reverse=True) # / before no argumnets expected

TypeError: sorted expected 1 argument, got 0

In [73]:
sorted("python",reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [75]:
sorted("python",True) # * AFTER ARGUMNETS EXPECTED

TypeError: sorted expected 1 argument, got 2

In [77]:
reversed("Arun")

In [79]:
reversed(iterable="Arun")

TypeError: reversed() takes no keyword arguments

In [81]:
addr=reversed("Arun")
for i in addr:
    print(i)

n
u
r
A

In [83]:
addr=reversed("Arun")
list(addr)

['n', 'u', 'r', 'A']

**concatination**

In [88]:
str1="Hello"
str2="Python"
str1+str2

'HelloPython'

In [90]:
str1="Hello"
str2="Python"
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [92]:
str1="Hello"
str2="Python"
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [94]:
str1="Hello"
str2="Python"
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [98]:
str1="Hello"
str1*2

'HelloHello'

In [100]:
str1="Hello"
str2="Python"
str1+' '+str2

'Hello Python'

In [7]:
str1='python'
for i in range(len(str1)):
    print(f"{str1[i]} = {i}")

p = 0
y = 1
t = 2
h = 3
o = 4
n = 5

In [15]:
str1='python'
i=len(str1)
while i>0:
    print(f"{str1[i-1]} = {-i}")
    i=i-1

n = -6
o = -5
h = -4
t = -3
y = -2
p = -1

In [17]:
str1='python'
for i in range(len(str1)):
    print(f"The positive index of {str1[i]} is {i}")

The positive index of p is 0
The positive index of y is 1
The positive index of t is 2
The positive index of h is 3
The positive index of o is 4
The positive index of n is 5

In [29]:
str1='python'
i=0
while i<len(str1):
    print(f"The negative index of {str1[i]} = {i-len(str1)}")
    i=i+1

The negative index of p = -6
The negative index of y = -5
The negative index of t = -4
The negative index of h = -3
The negative index of o = -2
The negative index of n = -1

In [31]:
str1='python'
for i in range(len(str1)):
    print(f"The positive index of {str1[i]} is {i} and negative index is {i-len(str1)}")

The positive index of p is 0 and negative index is -6
The positive index of y is 1 and negative index is -5
The positive index of t is 2 and negative index is -4
The positive index of h is 3 and negative index is -3
The positive index of o is 4 and negative index is -2
The positive index of n is 5 and negative index is -1

**in operator vs range operator**

In [ ]:
- in operator directly access the element
- range opeartor access the element using index or number

In [35]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [39]:
str1='python'
for i in range(len(str1)):
    print(str1[i])

p
y
t
h
o
n

In [41]:
str1='python'
for i in str1:
    print(i)

p
y
t
h
o
n

In [43]:
str1='ola ola ola'
for i in range(len(str1)):
    if str1[i] == 'a':
        print(f"Index of 'a' is {i}")

Index of 'a' is 2
Index of 'a' is 6
Index of 'a' is 10

In [45]:
str1='ola ola ola'
summ=0
for i in range(len(str1)):
    if str1[i] == 'a':
        summ=summ+i
print(f"Sum of all 'a' index is {summ}")

Sum of all 'a' index is 18

In [47]:
str1='ola ola ola'
count=0
for i in range(len(str1)):
    if str1[i] == 'a':
        count=count+1
print(f"Count of all 'a' in given string: {count}")

Count of all 'a' in given string: 3

In [49]:
str1='hi how are you'
acount=0
ecount=0
icount=0
ocount=0
ucount=0
for i in range(len(str1)):
    if str1[i] == 'a':
        acount=acount+1
    elif str1[i] == 'e':
        ecount=ecount+1
    elif str1[i] == 'i':
        icount=icount+1
    elif str1[i] == 'o':
        ocount=ocount+1
    elif str1[i] == 'u':
        ucount=ucount+1
print(f"Count of all 'a' in given string: {acount}")
print(f"Count of all 'e' in given string: {ecount}")
print(f"Count of all 'i' in given string: {icount}")
print(f"Count of all 'o' in given string: {ocount}")
print(f"Count of all 'u' in given string: {ucount}")

Count of all 'a' in given string: 1
Count of all 'e' in given string: 1
Count of all 'i' in given string: 1
Count of all 'o' in given string: 2
Count of all 'u' in given string: 1

In [51]:
str1='helleo'
str2=''
acount=0
ecount=0
icount=0
ocount=0
ucount=0
for i in range(len(str1)):
    if str1[i] == 'a':
        acount=acount+1
        if acount<2:
            str2=str2+str1[i]
    elif str1[i] == 'e':
        ecount=ecount+1
        if ecount<2:
            str2=str2+str1[i]
    elif str1[i] == 'i':
        icount=icount+1
        if icount<2:
            str2=str2+str1[i]
    elif str1[i] == 'o':
        ocount=ocount+1
        if ocount<2:
            str2=str2+str1[i]
    elif str1[i] == 'u':
        ucount=ucount+1
        if acount<2:
            str2=str2+str1[i]
    else:
        str2=str2+str1[i]
print(f"New string: {str2}")

New string: hello

In [55]:
str1='helleo'
stro='aeiou'
str2=''
ocount=0
for i in range(len(str1)):
    if str1[i] in stro :
        if str1[i] in str2:
            str2=str2
        else:
            str2=str2+str1[i]
    else:
        str2=str2+str1[i]
print(f"New string: {str2}")

New string: hello

**mutable/immutable**

- mutable means change. immutable means we can change
- Strings are immutable
- we can't change elements using index operation

In [59]:
str='hello'
str[2]='L'

TypeError: 'str' object does not support item assignment

In [61]:
LIST=[20,39,40,50]
LIST[2]=200
LIST

[20, 39, 200, 50]

- List are mutable , means elements of list can change using index operation

**slice**

- it is similar anaology as for loop
- in for loop range has start stop and step similarly slice also have same                        
- str[start:stop:step]

In [ ]:
-17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 
 h    e   l  l   o       h    o  w     a  r  e     y  o  u
 0    1   2  3   4    5  6    7  8  9  10 11 12 13 14 15 16

- case-1 str[:stop]
- default start=0
- default step is positive 1
- default last= stop-1

In [4]:
str='hello how are you'
str[:5]

'hello'

- case-2 str[stat:]
- default start=start value
- default step is positive 1
- default last= till last

In [9]:
str[5:]

' how are you'

In [14]:
str[-3:]

'you'

- case-3 str[stat:stop]
- default start=start value
- default step is positive 1
- default last= stop-1

In [12]:
str[1:5]

'ello'

In [16]:
str[-1:5]

''

In [18]:
str[-2:2]

''

- case-4 str[stat:stop:step]
- default start=start value
- step is positive side then last= stop-1
- step is negetive side then last= stop+1

In [21]:
#-17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 
# h    e   l  l   o       h    o  w     a  r  e     y  o  u
# 0    1   2  3   4    5  6    7  8  9  10 11 12 13 14 15 16

str[-15:15:-1]

''

In [23]:
str[15:-15:-1]

'oy era woh ol'

In [25]:
str[15:-15:-2]

'o r o l'

In [29]:
num=12345
str(num)

TypeError: 'str' object is not callable

**methods**

In [ ]:
- til now in strings

In [34]:
dir('') # String methods can retrive like this. We can give like dir('anyname') also

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [52]:
str1='python'
str1.upper()

'PYTHON'

In [54]:
str1='PYTHON'
str1.lower()

'python'

In [86]:
str1='PYThOn is my Passion'
str1.title()

'Python Is My Passion'

In [84]:
str1='PYThOn is my Passion'
str1.capitalize()

'Python is my passion'

In [82]:
str1='PYThOn is my Passion'
str1.casefold()

'python is my passion'

**difference between inbuilt functions and methods**

In [ ]:
len()
max()
min()
type()
sum()

In [91]:
str1='python'
str1.center(24)

'         python         '

In [95]:
str1='python'
str1.center(24,'*')

'*********python*********'

In [97]:
str1='python'
str1.center(2,'*')

'python'

In [99]:
str1='python'
str1.center(6,'*')

'python'

In [101]:
str1='python'
str1.center(7,'*')

'*python'

In [105]:
str1='python'
str1.center(8,'*')

'*python*'

**strip, lstrip, rstrip**

- strip will remove charector from both left
- lstrip removes fromleft
- rstrip removes from right

In [110]:
str1='python  '
str1.strip()

'python'

In [112]:
str1='   python  '
str1.lstrip()

'python  '

In [114]:
str1='   python  '
str1.rstrip()

'   python'

In [118]:
str1='****python****'
str1.rstrip('*')

'****python'

In [120]:
str1='**   **  python****'
str1.strip()

'**   **  python****'

In [122]:
str1='**   **  python****'
str1.strip('*')

'   **  python'

In [124]:
str1='**   **  python****'
str1.strip('*').strip()

'**  python'

In [1]:
str1='hello how are you'
n=len(str1)
for i in range(0,n):
    print(str1[i])

h
e
l
l
o

h
o
w

a
r
e

y
o
u

In [3]:
str1='hello how are you'
for i in str1:
    print(i)

h
e
l
l
o

h
o
w

a
r
e

y
o
u

In [5]:
str1='hello how are you'
print(str1[0])
for i in str1:
    print(i)
    break

h
h

In [7]:
str1='hello how are you'
str1[2:-2]

'llo how are y'

In [11]:
str1='Hello how are you'
str1.casefold()

'hello how are you'

In [21]:
str1='Hello how are you'
str1.casefold().startswith('h')

True

In [25]:
str1='Hello how are you/'
str1.endswith('/')

True

In [27]:
str1='Hello how are you/'
str1.endswith(str1)

True

In [39]:
str1='ola ola ola'
str1.count('a',-5,-1)

1

In [45]:
str1='ola ola ola'
count=0;
for i in range(len(str1)):
    if str1[i:i+3] == 'ola':
        count=count+1
print(count)

3

In [57]:
str1='ola ola ola'
str2=str1.replace('l','L')
print(str1)
print(str2)

ola ola ola
oLa oLa oLa

In [59]:
str1.replace('Z','L')

'ola ola ola'

In [61]:
str1='restart restart'
i1=str1.index('r') # 0
i2=str1.index('r',i1+1) # 1= 0+1
i3=str1.index('r',i2+1) # 6=5+1
i4=str1.index('r',i3+1) # 9=8+1
print(i1,i2,i3,i4)

0 5 8 13

In [73]:
str1='My mobile number is 9177252500'
strd=''
for i in range(len(str1)):
    if str1[i].isdigit():
        strd=strd+str1[i]
print(int(strd))

9177252500