In [3]:
num1=100
num2=200
add=num1+num2
print("Addition of",num1,"and",num2,"is",add)

Addition of 100 and 200 is 300

In [7]:
name="Python"
age=10
city="hyd"
print("My name is", name,"my age is",age,"I came from", city)

My name is Python my age is 10 I came from hyd

## Format method

In [12]:
name="Python"
age=10
city="hyd"
print("My name is {},my age is {} and Iam from {}".format(name,age,city))

My name is Python,my age is 10 and Iam from hyd

In [16]:
num1=100
num2=200
add=num1+num2
print("Addition of {} and {} is {}".format(num1,num2,add))

Addition of 100 and 200 is 300

In [26]:
num1=100
num2=200
add=num1+num2
sub=num1-num2
mul=num1*num2
div=num1/num2
print("************************Addition*********************")
print("Addition of {} and {} is {}".format(num1,num2,add))
print("************************Sub*********************")
print("Subtraction of {} and {} is {}".format(num1,num2,sub))
print("************************Mul*********************")
print("Multiplication of {} and {} is {}".format(num1,num2,mul))
print("************************Div*********************")
print("Division of {} and {} is {}".format(num1,num2,div))

************************Addition*********************
Addition of 100 and 200 is 300
************************Sub*********************
Subtraction of 100 and 200 is -100
************************Mul*********************
Multiplication of 100 and 200 is 20000
************************Div*********************
Division of 100 and 200 is 0.5

In [24]:
a=100
b=200
c=300
avg=(a+b+c)/3
print("The average of {}, {} and {} is:{}".format(a,b,c,avg))

The average of 100, 200 and 300 is:200.0

## F String method

In [29]:
a=100
b=200
c=300
avg=(a+b+c)/3
print(f"The average of {a}, {b} and {c} is:{avg}")

The average of 100, 200 and 300 is:200.0

In [32]:
num1=100
num2=200
add=num1+num2
sub=num1-num2
mul=num1*num2
div=num1/num2
print("************************Addition*********************")
print(f"Addition of {num1} and {num2} is {add}")
print("************************Sub*********************")
print(f"Subtraction of {num1} and {num2} is {sub}")
print("************************Mul*********************")
print(f"Multiplication of {num1} and {num2} is {mul}")
print("************************Div*********************")
print(f"Division of {num1} and {num2} is {div}")

************************Addition*********************
Addition of 100 and 200 is 300
************************Sub*********************
Subtraction of 100 and 200 is -100
************************Mul*********************
Multiplication of 100 and 200 is 20000
************************Div*********************
Division of 100 and 200 is 0.5

## ctrl "A" and ctrl "/" to keep comments for all lines in the cell in one stretch

In [ ]:
# a=100
# b=200
# c=300
# avg=(a+b+c)/3
# print("The average of {}, {} and {} is:{}".format(a,b,c,avg))

## round

In [36]:
round(10.77777)

11

In [38]:
round(10.77777,2)

10.78

In [40]:
round(10.777777,3)

10.778

In [45]:
a=100
b=200
c=300
avg=(a+b+c)/3
print(f"The average of {a}, {b} and {c} is:{round(avg,2)}")

The average of 100, 200 and 300 is:200.0

## end operator

In [49]:
print(10)
print(20)

10
20

In [51]:
print(10,end=" ")
print(20)

10 20

In [53]:
num1=100
num2=200
add=num1+num2
sub=num1-num2
mul=num1*num2
div=num1/num2
print(f"Addition of {num1} and {num2} is {add}",end=", ")
print(f"Subtraction of {num1} and {num2} is {sub}",end=", ")
print(f"Multiplication of {num1} and {num2} is {mul}",end="and ")
print(f"Division of {num1} and {num2} is {div}")

Addition of 100 and 200 is 300, Subtraction of 100 and 200 is -100, Multiplication of 100 and 200 is 20000and Division of 100 and 200 is 0.5

## sep operator

In [56]:
print(10, 20,30)

10 20 30

In [58]:
print(10,20,30, sep="====>")

10====>20====>30

In [66]:
r=10
pi=3.14
area=pi*r*r
print("Area of circle with Radius=",r,"is:",area)
print("Area of circle with radius = {} is: {}".format(r,area))
print(f"Area of circle with radius = {r} is: {area}")

Area of circle with Radius= 10 is: 314.0
Area of circle with radius = 10 is: 314.0
Area of circle with radius = 10 is: 314.0

In [1]:
b=20
h=40
area=0.5*b*h
print(f"The area of right angle triagle with Breadth= {b} and Hight = {h} is : {area}")

The area of right angle triagle with Breadth= 20 and Hight = 40 is : 400.0

In [3]:
tip=100
bill=2000
tbill=tip+bill
print("Total bill = {}".format(tbill))

Total bill = 2100

## Input
- Input is inbuilt function , using input user can provide any value

In [7]:
input

**when ever if see a bound method function which indicate we have to give brackets**

In [10]:
input()

 10

'10'

In [12]:
input()

 Python

'Python'

In [14]:
b=input()

 100

In [16]:
b

'100'

In [18]:
name=input()

 Arun

In [20]:
name

'Arun'

In [22]:
input()
input()

 10
 20

'20'

In [24]:
num1=input()
num2=input()
str1=input()

 100
 200
 Arun

In [28]:
num1,num2,str1

('100', '200', 'Arun')

In [30]:
num1=input("Enter the num1:")
num2=input("Enter the num2:")
str1=input("Enter String:")

Enter the num1: 100
Enter the num2: 200
Enter String: arun

In [32]:
num1,num2,str1

('100', '200', 'arun')

**input values are default string type**

In [37]:
num1+num2 # '100'+'200'='100200'

'100200'

In [39]:
str1=input("Enter str1:")
str2=input("Enter str2:")
str3=input("Enter str3:")
str1+str2+str3

Enter str1: Apple
Enter str2: is
Enter str3: Fruit

'AppleisFruit'

In [41]:
num1=int(input("Enter the num1:"))
num2=int(input("Enter the num2:"))
sum=num1+num2
print(sum)

Enter the num1: 100
Enter the num2: 200

300

In [43]:
num1=input("Enter the num1:")
num2=input("Enter the num2:")
sum=int(num1)+int(num2)
print(sum)

Enter the num1: 100
Enter the num2: 200

300

## eval
- Works only on number repesentation as a strigs
- Not works on english words
- If user enters 10 in qoutes it will convert to into 10
- If user enters 10.5 in qoutes it will convert to into 10.5

In [48]:
int('10')

10

In [50]:
int('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

In [54]:
float('10')

10.0

In [56]:
float('10.5')

10.5

In [58]:
eval('10')

10

In [60]:
eval('10.5')

10.5

In [62]:
num1=eval(input("Enter the num1:"))
num2=eval(input("Enter the num2:"))
sum=num1+num2
print(sum)

Enter the num1: 100
Enter the num2: 200.5

300.5

In [76]:
num1=eval(input("Enter num1:"))
num2=eval(input("Enter num2:"))
num3=eval(input("Enter num3:"))
avg=(num1+num2+num3)/3
print(f"Average of given numbes: {avg}")

Enter num1: 100
Enter num2: 200
Enter num3: 300

Average of given numbes: 200.0

In [74]:
name=input("Entare name:")
age=eval(input("Enter age:"))
city=input("Enter city")
print(f"Myname is {name} , my age is {age} and my city is {city}")

Entare name: Arun
Enter age: 45
Enter city Hyderabad

Myname is Arun , my age is 45 and my city is Hyderabad

In [64]:
r=eval(input("Enter Radius of circle:"))
pi=eval(input("Enter pi value:"))
area=pi*r*r
print(f"Area of circle :{area}")

Enter Radius of circle: 10
Enter pi value: 3.14

Area of circle :314.0

In [78]:
b=eval(input("Enter breadth of triangle:"))
h=eval(input("Enter Hight of triangle :"))
area=0.5*b*h
print (f"Area of triangle:{area}")

Enter breadth of triangle: 10
Enter Hight of triangle : 20

Area of triangle:100.0

In [80]:
bill=eval(input("Enter bill amount:"))
tip=eval(input("Enter tip amount:"))
tbill=bill+tip
print(f"Total bill : {tbill}")

Enter bill amount: 2000
Enter tip amount: 100

Total bill : 2100

In [84]:
bill=eval(input("Enter bill amount:"))
tipperc=eval(input("Enter tip percentage:"))
tbill=bill+(bill*tipperc/100)
print(f"Total bill : {tbill}")

Enter bill amount: 2000
Enter tip percentage: 10

Total bill : 2200.0

In [3]:
r=eval(input("Enter Radius of Sphere:"))
vol=round(4*3.14*r*r*r/3,2)
print(f"Volume of sphere :{vol}")

Enter Radius of Sphere: 10

Volume of sphere :4186.67

In [11]:
Dol=eval(input("Please enter doller you want to convert into Rupee:"))
Rup=Dol*85
print(f"{Dol} Doller is equal to {Rup} Repees")

Please enter doller you want to convert into Rupee: 100

100 Doller is equal to 8500 Repees

In [13]:
kg=eval(input("Please enter Kg you want to convert into Pound:"))
p=kg*2.2
print(f"{kg} KG is equal to {p} Pound")

Please enter Kg you want to convert into Pound: 20

20 KG is equal to 44.0 Pound